@use '../variables/responsive.scss';


.header{
    &__container{
        height: 60px;
        background-color: #111111;
        display: flex;
        align-items: center;
    }
    &__content{
       
        height: 50px;
        padding: 7.5px 0px;
        @include responsive.responsive(responsive.$laptop) {

            padding: 10px;
            width: 100%;

        }
    }

    &__right{
        height: 100%;
    }
}

.box{
    height: 100%;
    color: #111111;
    font-family: Poppins;
    font-size: 0.85rem;
    
    padding: 10px;
}

.login{

    &__container{
        height: 100%;
    }
}